

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook"></i> </a>
            <a href="https://www.instagram.com/ayush_._pandey01/"><i class="fa-brands fa-square-instagram"></i></a> 
           <a href="https://www.linkedin.com/in/ayush-pandey-195468238/"> <i class="fa-brands fa-linkedin"></i> </a>
            <a href="https://x.com/classy_indian_"><i class="fa-brands fa-square-twitter"></i></a> 

        </div>
        <div class="f-info-brand"> &copy; Wander Lust Private Limited </div>

        <div class="f-info-links">
            <a href="/Privacy"> Privacy</a> &nbsp;&nbsp;
            <a href="/Terms"> Terms </a>
        </div>
    </div>
</footer>