

<!-- <style>
  .search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  @media (max-width: 768px) {
  .navbar {
    background-color: #b01010!important; /* Change this to the desired background color */
  }
}
@media (max-width: 768px) {
  .dropdown-menu {
    background-color: #b01010!important; /* Change this to the desired background color */
  }
}


</style>

<nav class="navbar navbar-expand-md bg-body-dark bg-primary border-bottom sticky-top">

    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings"><i>Explore</i></a>
          <a class="nav-link" href="/listings/new"><i>WanderLust Listing</i></a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-3 search-inp" type="search" 
                   placeholder="Search Destinations">
            <button class=" search-btn" type="submit">Search</button>
          </form>
        </div> 


        <div class="navbar-nav ms-auto">

          <% if(!currUser) { %>  
          <a class="nav-link"  href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %> <% if(currUser) { %>
          <a class="nav-link" href="/logout">Log out</a>
          <% } %>
        </div>

      </div>
    </div>
  </nav> -->

  <!-- Nav random -->
  

    <header class="sticky-top">
      <div id="brand"><a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a></div>
      <nav>
        <ul>
          <li><a  href="/listings"><i><b>Explore</b></i></a></li>
          <li><a href="/listings/new"><i><b>WanderLust Listing</b></i></a></li>
          <% if(!currUser) { %>  
          <li id="login"><a href="/signup"><b>Sign up</b></a></li>
          <li id="signup"><a href="/login"><b>Log in</b></a></li>
          <% } %> <% if(currUser) { %>
          <li id="signup"><a href="/logout"><b>logout</b></a></li>
          <% } %>
        </ul>
      </nav>
      <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
          <li><a  href="/listings"><i><b>Explore</b></i></a></li>
          <li><a href="/listings/new"><i><b>WanderLust Listing</b></i></a></li>
          <% if(!currUser) { %>  
          <li id="login"><a href="/signup"><b>Sign up</b></a></li>
          <li id="signup"><a href="/login"><b>Log in</b></a></li>
          <% } %> <% if(currUser) { %>
          <li id="signup"><a href="/logout"><b>logout</b></a></li>
          <% } %>
        </ul>
      </div>
    </header>
    <script src="app.js"></script>
  



