<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/error.css">
<div id="alert" >
    <div class="error-alert">
        <i class="alert-icon ri-file-warning-line"></i>
        <h3 class="alert-message"><%= message %></h3>
    </div>
</div>